{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FoodOnline</title>
	<!-- Google Font Family Link Start -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800">
	<!-- Google Font Family Link End -->

	<!-- CSS -->
	<link href="{% static 'css/iconmoon.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link href="{% static 'css/cs-foodbakery-plugin.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link href="{% static 'css/bootstrap-slider.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/custom.css' %}">
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- JAVASCRIPT -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="{% static 'js/modernizr.js' %}"></script>
	<script src="{% static 'js/bootstrap.js' %}"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script>


		// Add to cart
		$(document).ready(function(){
			$('.add_to_cart').on('click', function(e){
				e.preventDefault();
				var food_id = $(this).attr('data-id');
				var url = $(this).attr('data-url');
				
				// var data = {
				// 	food_id: food_id,
				// };
				
				$.ajax({
					type: 'GET',
					url: url,
					// data: data,
					success: function(response) {
						// Handle success response here
						if (response.status =='login_required')
					{
							swal(response.message,'','info').then(
								function() {
									window.location = "/login";
									}
							)

					}
	
						if (response.status !='success')
						{
						
							swal(response.message,'','error').then(function() {})
						console.log(response);
					}
					else{
						$('#cart_counter').html(response.cart_counter['cart_count'])
						$('#qty-'+food_id).html(response.qty)
						
						// subtotal,tax and grand total
						applyCartAmounts(
							response.cart_amount['subtotal'],
							response.cart_amount['tax_dict'],
							response.cart_amount['grand_total'],

						)

					}
					},
					error: function(xhr, status, error) {
						// Handle error here
						console.error(error);
					}
				});
			});


					// Decrease to cart
		$(document).ready(function(){
			$('.decrease_cart').on('click', function(e){
				e.preventDefault();
				// console.log(e)
				var food_id = $(this).attr('data-id');
				var cart_id = $(this).attr('id');
				var url = $(this).attr('data-url');
				
				// var data = {
				// 	food_id: food_id,
				// };
				
				$.ajax({
					type: 'GET',
					url: url,
					// data: data,
					success: function(response) {
						// Handle success response here
						console.log(response);
						if (response.status =='login_required')
					{
							swal('Title','Subtitle','info')

					}
						if (response.status !='success')
						{
						swal(response.message,'','error').then(function() {})
						// console.log(response);

					}

					else

						{$('#cart_counter').html(response.cart_counter['cart_count'])
						$('#qty-'+food_id).html(response.qty)
						// console.log(1)
						// console.log(cart_id)

						applyCartAmounts(
							response.cart_amount['subtotal'],
							response.cart_amount['tax_dict'],
							response.cart_amount['grand_total'],

						)

						if (window.location.pathname=='/cart/')
								{
									removeCartItem(response.qty,cart_id)
									checkEmptyCart()
								}

					}
					},
					error: function(xhr, status, error) {
						// Handle error here
						console.error(error);
					}
				});
			});


		});



		$('.item_qty').each(function(){
			var the_id = $(this).attr('id');
			var qty = $(this).attr('data-qty');
			
			$('#'+the_id).html(qty)	
			
		})
		
		
		
		
	});
	
	

	// Detele cart
							$(document).ready(function(){
				$('.delete_cart').on('click', function(e){

					e.preventDefault();
					// console.log(e)
					
					var cart_id = $(this).attr('data-id');
					var url = $(this).attr('data-url');
					
					// var data = {
					// 	food_id: food_id,
					// };
					
					$.ajax({
						type: 'GET',
						url: url,
						// data: data,
						success: function(response) {
							// Handle success response here
							console.log(response);
	
							if (response.status !='success')
							{
							swal(response.message,'','error').then(function() {})
							// console.log(response);


						}

						else

							{$('#cart_counter').html(response.cart_counter['cart_count'])
							swal(response.status,response.message,'success')


							applyCartAmounts(
							response.cart_amount['subtotal'],
							response.cart_amount['tax_dict'],
							response.cart_amount['grand_total'],)

							

							if (  window.location.pathname =='/cart/')
							{removeCartItem(0,cart_id)
							checkEmptyCart();
							}}
						},
						error: function(xhr, status, error) {
							// Handle error here
							console.error(error);
						}
					});
				});


			});

		// delete cart item if qty is 0
		function removeCartItem(cartItemQty,cartID){
			
			if (cartItemQty <= 0){
				//remove the cart item element
				// $('#cart_item_'+cartID).remove();
				document.getElementById('cart-item-'+cartID).remove()
			}
		}

		// check the cart is empty
		function checkEmptyCart(){
			var cart_counter = document.getElementById('cart_counter').innerHTML
			
			if (cart_counter ==0){
				// show the empty cart message
				document.getElementById('empty-cart').style.display='block'
			}
				}

	
	// apply cart amounts
	function applyCartAmounts(subtotal, tax_dict, grand_total) {
		// get the cart items
		if (window.location.pathname == '/cart/') {
			$('#subtotal').html(subtotal);
			$('#total').html(grand_total);
			
			for (let key1 in tax_dict) {
				for (let key2 in tax_dict[key1]) {
					// console.log(key2);
					$('#tax-'+key1).html(tax_dict[key1][key2])
					// console.log(tax_dict[key1][key2]);
					// You can add logic here to display tax details if needed
				}
			}
		}
	}

// function for dyanamic hours
// This function runs as soon as the webpage is fully loaded
$(document).ready(function () {

// When the "Add Hour" button is clicked
$('.add_hour').on('click', function (e) {
	e.preventDefault();  // Stop the page from refreshing when the button is clicked

	// Get values from form inputs
	var day = $('#id_day').val();  // Selected day (e.g., Monday)
	var from_hour = $('#id_from_hour').val();  // Opening time
	var to_hour = $('#id_to_hour').val();  // Closing time
	var is_closed = $('#id_is_closed').is(':checked');  // Whether the day is marked as closed (checkbox)
	var csrf_token = $('input[name=csrfmiddlewaretoken]').val();  // CSRF token for Django security
	var url = $('#add_hour_url').val();  // URL to send the form data to

	// Simple check to make sure required fields are filled
	var isValid = false;

	if (is_closed && day !== '') {
		// If it's a closed day, only the day field is required
		isValid = true;
	} else if (!is_closed && day !== '' && from_hour !== '' && to_hour !== '') {
		// If the day is open, all time fields must be filled
		isValid = true;
	}

	// If the input is valid, send the data to the server using AJAX
	if (isValid) {
		$.ajax({
			type: 'POST',  // We're sending data
			url: url,  // The server URL where data should go
			data: {
				'day': day,
				'from_hour': from_hour,
				'to_hour': to_hour,
				'is_closed': is_closed,
				'csrfmiddlewaretoken': csrf_token  // Required for Django to accept the request
			},
			success: function (response) {
				// Show server response in the browser console
				console.log(response);
				if (response.status=='success'){
					var html = `
							<tr style='text-align: center !important;' id="hour-${response.id}">
								<td style="border: none;"><strong>${response.day}</strong></td>
								<td style="border: none;">
									${response.is_closed ? 'Closed' : `Open ${response.from_hour} - ${response.to_hour}`}
								</td>
								<td style="border: none;"><a href="#" class="remove_hour" data-url="/vendor/opening_hours/remove/${response.id}/">Remove</a></td>
							</tr>
							`;					
				
							
					$('.opening_hours').append(html)
					document.getElementById('opening_hours').reset()
						}
					else{
						swal(response.message,'','error')
					}
				
				// You can add code here to update the UI or show a success message
			}
		});
	} else {
		// If required fields are missing, show an alert
		swal('Please fill all fields', '', 'info');
	}
});
});


// // Remove opening hour Ajax request
// When the user clicks on any element with the class 'remove_hour'
$(document).on('click', '.remove_hour', function(e) {
    e.preventDefault(); // Stop the link from navigating to another page

    // Get the URL stored in the 'data-url' attribute of the clicked element
    let url = $(this).attr('data-url');

    // Send an AJAX GET request to the server
    $.ajax({
        type: 'GET',
        url: url,

        // When the server responds successfully
        success: function(response) {
            // If the server confirms the deletion was successful
            if (response.status == 'success') {
                
                // Remove the HTML element from the page with the ID 'hour-<id>'
                // This visually removes the row or block without reloading the page
                document.getElementById('hour-' + response.id).remove();
            }
        }
    });
});

	</script>

	<!-- <script src="{% static 'js/custom.js' %}"></script> -->
	<style>
		body, .main-section p, .mce-content-body p{
			font:Normal  14px/24px "Open Sans", sans-serif;letter-spacing: 0px;text-transform: none;color: #515151 !important;
		}

	
	</style>
</head>

<body>
    <!-- load navbar -->
    
    {% include 'includes/navbar.html' %}
    
    
    {% block content %}
        <!-- load content -->
    {% endblock %}
    <!-- load footer -->
    {% include 'includes/footer.html' %}


	
	<link rel="stylesheet" href="//cdn.datatables.net/2.3.0/css/dataTables.dataTables.min.css">
	
	<script src="//cdn.datatables.net/2.3.0/js/dataTables.min.js"></script>
	<!-- <script>
			
		// let table = new DataTable('#myorderstables');

		
		
	</script> -->
	<script>
		document.addEventListener('DOMContentLoaded', function () {
		  new DataTable('#myorderstables');
		});
	  </script>
	  