@keyframes show-toast{
    0% {
        bottom: -100%;
        
        
    }
    20% {
        
        bottom: 100PX;
    }
    80% {
        
        bottom: 100PX;
    }
    100% {
        
        bottom: -100%;
    }
}


.show-notification{
    position: fixed;
    bottom: 100%;
    right: 20px;
    animation-name: show-toast;
    animation-duration: 8s;
    z-index: 99;
}

.btn{
    padding: 2px 1.75em;
    font-size: 12px;
    cursor: pointer;

}

.main-search.fancy .bg-holder{
    color: #0000 !important;
}

/* Hide native radio buttons */
input[type="radio"].payment-method {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.payment-method [type=radio] + img{
    cursor: pointer;
}

.payment-method [type=radio]:checked + img {
    border: 2px solid #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    transform: scale(1.05);
    transition: border 0.2s ease, box-shadow 0.2s ease, transform 0.2s ease;
    filter: brightness(1.1);
    border-radius: 4px;
    animation: scale-up 0.2s ease;
    animation: scale-down 0.2s ease;
    animation: scale-up 0.2s ease;}

