<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="shortcut icon" href="https://cdn4.iconfinder.com/data/icons/plastic-iconshock/256/Shopping_cart.png" type="image/x-icon">
</head>
<body>
<nav class="shadow-lg">
    <div class="flex flex-wrap justify-between ml-5 items-center mx-auto px-4 py-2.5">
        <a href="{% url 'index' %}" class="flex items-center">
            <img class="h-9 mr-3" src="https://cdn4.iconfinder.com/data/icons/plastic-iconshock/256/Shopping_cart.png" alt="">
            <span class="self-center text-xml font-semibold">Digital Market</span>
        </a>

        <div class="flex items-center">
            {% if user.is_authenticated %}
            <p class="mr-6 text-sm font-medium text-green-500">Hello {{ user.username|title }} </p>
            <a href="{% url 'dashboard' %}" class="mr-6 text-sm font-medium text-grey-500">Dashboard</a>
            <a href="{% url 'sales' %}" class="mr-6 text-sm font-medium text-grey-500">Sales</a>
            <!-- <a href="{% url 'dashboard' %}" class="mr-6 text-sm font-medium text-grey-500">Orders</a> -->
            <a href="{% url 'createproduct' %}" class="mr-6 text-sm font-medium text-grey-500">Create Produtcs</a>
            <a href="{% url 'purchases' %}" class="mr-6 text-sm font-medium text-grey-500">My Purchase</a>
            <form action="{% url 'logout' %}" method="post" >
                {% csrf_token %}
                <input type="submit" href="" class="mr-6 text-sm font-medium text-grey-500" value="Logout" style="cursor: pointer;">
            </form>
            {% else %}
            <a href="{% url 'login' %}" class="mr-6 text-sm font-medium text-grey-500">Login</a>
            <a href="{% url 'register' %}" class="mr-6 text-sm font-medium text-grey-500">Register</a>
            
            {% endif %}
        </div>
    </div>

</nav>

{% block body %}

{% endblock %}
<script src="https://cdn.tailwindcss.com"></script>    
</body>
</html>