{% extends 'myapp/base.html' %}

{% block title %}

Indec
{% endblock %}


{% block body %}

<div class="flex justify-between ">
    <div class="ml-20 mt-10 font-bold text-xl">My Purcahses</div>
    <div class="ml-20 mt-10 mr-4">
        <a href="{% url 'createproduct' %}" class="bg-green-500 text-white px-6 py-4 mr-8 rounded">Create Product</a>
    </div>
</div>

<div class="order-container shadow-lg p-10 m-5">
    <div class="order-header font-bold">
        <div class="flex  m-5 p-2 ">
            <div class="w-1/4">Product Name</div>
            <div class="w-1/4">Product Amount</div>
            <div class="w-1/4">Order Date</div>
            <div class="w-1/4">Download Link</div>
        </div>

    </div>
        
        {% for order in orders %}
        <div class="flex  m-5 p-2 ">
            <div class="w-1/4"> {{order.product.name }}</div>
            <div class="w-1/4 text-green-500 "> ${{order.amount }}</div>
            <div class="w-1/4"> {{order.created_on }}</div>
            <div class="w-1/4"><a class="bg-green-500 text-white px-4 py-2 rounded" href="{{ order.product.file.url }}" download>Click to Download</a></div>
        </div>
        
        {% endfor %}

</div>

{% endblock %}