<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}  {% endblock %}</title>
<link rel="shortcut icon" href="{% static 'icon.png' %}" type="image/x-icon">
</head>
<body class="flex flex-col min-h-screen">

    <header class="bg-gray-800 text-white p-4">
        <h1 class="text-2xl">My Premium Header</h1>
        <nav>
            <ul class="flex space-x-4">
                <li><a href="#" class="hover:underline">Home</a></li>
                <li><a href="#" class="hover:underline">About</a></li>
                <li><a href="#" class="hover:underline">Services</a></li>
                <li><a href="#" class="hover:underline">Contact</a></li>
            </ul>
        </nav>
    </header>
    {% block body %}
    {% endblock %}
    <footer class="bg-gray-800 text-white p-4 mt-4 mt-auto">

        <p class="text-center">© 2023 My Premium Footer. All rights reserved.</p>
    </footer>


    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>
