{% extends 'base.html' %}
{% load static %}

{% block content %}
		<!-- Main Section Start -->
		<div class="main-section">
			{% include 'customers/cover.html' %}
			<div class="page-section account-header buyer-logged-in">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <!-- loading sidebar here -->
                            {% include 'includes/c_sidebar.html' %}
						</div>
						<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
							<div class="user-dashboard loader-holder">
								<div class="user-holder">

                                                                        
                                    <div class="container ">
                                        <div class="justify-content-center row">

                                            <div class="col-md-12">
                                                <div class="bg-white p-1">

                                                    <img src="{% static 'logo/FoodOnlinelogo.png' %}" alt="">
                                                    <!-- <h4 class="mt-2 mb-3">Thanks for your order</h4> -->
                                                    <h6 class="mt-2 mb-3 ">Hello {{order.name}},</h6><span class=" font-weight-bold">Thank for your order. Review Your order details.</span>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <p class="mb-0">{{ order.name }}</p>
                                                            <p class="mb-0">{{ order.address }}</p>
                                                            <p class="mb-0">{{ order.phone }}</p>
                                                            <p class="mb-0">{{ order.email }}</p>
                                                        </div>
                                                    </div>
                                                    <br>

                                                    <div class="d flex justify-content-between">

                                                        <div>
                                                            <span class="d-block">Order Date:</span><span class="font-weight-bold">{{order.created_at}}</span>
                                                            
                                                        </div>

                                                        <div>
                                                            <span class="d-block">Order Number:</span><span class="font-weight-bold">{{order.order_number}}</span>
                                                        </div>

                                                        <div>
                                                            <span class="d-block">Payment method:</span><span class="font-weight-bold">{{order.payment_method }}</span>
                                                        </div>

                                                        <div>
                                                            <span class="d-block">Transaction id:</span><span class="font-weight-bold">{{order.payment.transaction_id }}</span>
                                                        </div>
                                                        <hr>

                                                        
                                                                                        <table class="table" >
                                                                                            <tbody style="border : none !important">
                                                                                                {% for item in ordered_food %}
                                                                                                <tr >
                                                                                                    <td style="border: none !important;"><img src="{{ item.fooditem.image.url}}" width="60" alt=""></td>
                                                                                                    <td style="border: none !important;">
                                                                                                        <p class="mb-0">{{ item.fooditem }}</p>
                                                                                                        <a href="{% url 'vendor_detail' item.fooditem.vendor.slug %}" class="text-muted">({{item.fooditem.vendor.vendor_name}})</a>
                                                                                                    </td>
                                                                                                    <td style="border: none !important;">{{ item.quantity }} Qty</td>
                                                                                                    <td style="border: none !important;">{{ item.fooditem.price }}</td>
                                                                                                </tr>
                                                                                                {% endfor %}
                                                                                            </tbody>
                                                                                        </table>

                                                                                        <div class="row mt-5">
                                                                                            <div class="d-flex justify-content-center col-md-6">
                                                                                                <img src="{% static 'images/paid.png' %}" alt="" width="200">
                                                                                            </div>





                                                                                            <div class="col-md-6">
                                                                                                    
                                                                                                        
                                                                                                <ul>
                                                                                                    <li style="list-style: none;">
                                                                                                        Subtotal
                                                                                                        <span class="price float-right">
                                                                                                            <span class="currency">$</span>
                                                                                                            <span id="subtotal">{{ subtotal }}</span>
                                                                                                        </span>
                                                                                                    </li>
                                                                                                    <!-- need to fix -->

                                                                                                    {% for key,value in tax_dict.items %}
                                                                                                        {% for i,j in value.items %}    
                                                                                                        <li style="list-style: none;">
                                                                                                                {{ key }} ({{ i}}%)
                                                                                                                <span class="price float-right">
                                                                                                                    <span class="currency">$</span>
                                                                                                                    <span id="tax-{{ key }}">{{ j }}</span>
                                                                                                                </span>
                                                                                                            </li>
                                                                                                        {% endfor %}
                                                                                                    {% endfor %}
                                                                                                    <li style="list-style: none; font-weight: 600;">
                                                                                                        Total
                                                                                                        <span class="price float-right">
                                                                                                            <span class="currency">$</span>
                                                                                                            <span id="total">{{ order.total }}</span>
                                                                                                        </span>
                                                                                                    </li>

                                                                                                </ul>

                                                                                            </div>

                                                                                        </div>



                                                    </div>

                                                    <hr>
                                                    <div class="d-flex justify-content-between">
                                                        <div>
                                                            <span class="d-block font-weight-bold">Thanks for ordering with us</span>
                                                            <span>FoodOnline Team</span>
                                                        </div>
                                                        <div class="d-flex justify-content-end align-items-end">
                                                            <span class="d-block font-weight-bold">Need help</span>
                                                            <span>FoodOnline Team</span>
                                                            <span> Call us</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>



                                    </div>



								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Main Section End -->


<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        {% include 'includes/alerts.html' %}
    </div>
</div>

{% endblock %}